@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
}
@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}
<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td><a asp-page="./Detail" asp-route-restaurantId="@restaurant.Id">@restaurant.Name</a></td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cusisine</td>
            <td><a asp-page="./Edit" asp-route-restaurantId="@restaurant.Id">Update</a></td>
            <td><a asp-page="./Delete" asp-route-restaurantId="@restaurant.Id">Delete</a></td>
        </tr>
    }
</table>

<a asp-page="./Edit" class="btn btn-primary">Add new</a>